@tailwind base;
@tailwind components;
@tailwind utilities;


.pathList:hover {
    @apply bg-gray-400;
    transition: 0.3s ease;
    @apply px-5 py-1
}
.pathList {
    @apply px-5 py-1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.pathList-sub-1 {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    @apply px-5 py-1
}
.pathList-sub-1:hover {
    @apply bg-gray-400;
    transition: 0.3s ease;
    @apply px-5 py-1;
}
.pathList-sub-2 {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    @apply px-5 py-1
}
.pathList-sub-2:hover {
    @apply bg-gray-400;
    transition: 0.3s ease;
    @apply px-5 py-1;
}

.pathFileBtn {
    @apply px-5 py-1 my-1 shadow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.pathFileBtn:hover {
    @apply bg-gray-400;
    transition: 0.3s ease;
    @apply px-5 py-1;
}
.pathFileBtn.active {
    @apply bg-gray-800 text-white;
    transition: 0.3s ease;
    @apply px-5 py-1;
}

li {
    list-style-type: circle;
    list-style-position: inside;
    padding-right: 10px;
}
